# Python

# Virtual environments
venv/

# Compiled Python files
__pycache__/
*.pyc

# Environment variables
.env

# pytest cache
.pytest_cache/

# Flask instance folder
instance/

# Database files
*.db

# Upload files
uploads/

# SQLite database
*.sqlite
*.sqlite3

# Log files
*.log
